*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.about {
  padding: 10rem 0; }
  .about_title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.4rem; }
  .about_text {
    text-align: center;
    max-width: 620px;
    margin: 3rem auto;
    font-size: 1.6rem; }
  .about .card-wrapper {
    display: flex;
    justify-content: space-between; }
    .about .card-wrapper .card {
      border: 1px solid #8d8d8d;
      width: 100%;
      text-align: center; }
      .about .card-wrapper .card:not(:last-child) {
        border-right: none; }

.landing-wrapper {
  position: relative;
  height: 100vh;
  background: url("/img/bg.jpg") no-repeat center;
  background-size: cover; }
  .landing-wrapper .header {
    display: flex;
    padding: 0 20px;
    color: #ffffff;
    justify-content: space-between; }
    .landing-wrapper .header .logo img {
      width: 250px; }
    .landing-wrapper .header .navigation {
      width: 100%;
      max-width: 60rem;
      margin: auto 0; }
      .landing-wrapper .header .navigation ul {
        display: flex;
        justify-content: space-around;
        list-style: none; }
        .landing-wrapper .header .navigation ul li {
          vertical-align: middle; }
          .landing-wrapper .header .navigation ul li a {
            text-decoration: none;
            font-size: 1.8rem;
            color: #ffffff; }
  .landing-wrapper .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .landing-wrapper .intro-text h1 {
      color: #ffffff;
      text-align: center;
      font-size: 48px; }
